
/*
    Name : Shihabun Shakib.
    Email:Shihabunshakib9346@gmail.com.
*/


@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');



* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Slabo 27px', serif;
}




/*nav bar */
nav{
    width: 100%;
    height: 50px;
    background-color: #252E2D;
    position: relative;
    z-index: 2;
}


nav .logo {
    padding: 8px 20px 15px 80px;
    float: left;
    margin-top: -3px;
}


nav .nav-links ul{
    font-size: 15px;
    font-family: 'Slabo 27px', serif;
    float: right;
}

nav .nav-links ul li {
    list-style: none;
    display: inline-block;
    margin-top: 15px;
}

nav .nav-links ul li a{
    text-decoration: none;
    color: white;
    padding-right: 60px;

}

/* main page work*/
.main-page {
    clear: both;
}


.headline{
    width: 50%;
    height: 616px;
}


.bg-image {
    position: absolute;
    top: -10px;
    left: 669px; 
}

.headline{
    padding-top: 30px;
    padding-left: 100px;
}


.headline h1 {
    font-size: 65px;
    font-weight: lighter;
    padding-top: 100px;
    color: black;
}

.headline h1 span {
    color: #C41313;
}

.headline h2 {
    font-size: 65px;
    font-weight: lighter;
    padding-left: 135px;
    margin-bottom: 40px;
    color: black;
   
}

/*Sign up button*/
.sub{
    border: 2px #0A597D solid;
    width: 200px;
    height: 50px;
    border-radius: 64px;
    display: block;
    text-decoration: none;
    line-height: 50px;  
    text-align: center;
    color: black;
    font-size: 30px;
    margin-left: 120px;
}


main ,footer {
    border: 0px solid #2C403F;
    background-color: #2C403F;
}

/* shop border*/
.shop, .about, .contact  {
    border: 2px solid black;
    widows: 100%;
    height: 50px;
    background-color: black;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: -20px;
}



.RedPuppy img,.BrownPuppy img,.WhitePuppy img{
    border-radius: 262px;
}



.shop-item ul li{
    display: inline-block;
    padding-left: 240px;
}
.shop-item ul li .WhitePuppy {
    padding-left: 300px;
    margin-top: -50px;
}

.RedPuppy, .BrownPuppy,.WhitePuppy {
    width:336px;
    height: 336px;
    text-align: center;

}

.RedPuppy p, .BrownPuppy p,.WhitePuppy p {
    font-size: 30px;
}

.RedPuppy .doller, .BrownPuppy .doller,.WhitePuppy .doller{
    font-size: 25px;
}
/* About section*/
#about {
    height: 700px;;
}

.text p {
    width: 597px;
    height: 100%;
    font-size: 25px;
    padding-left: 80px;
    padding-right: 80px;
}

#about ul li {
    text-decoration: none;
    display: inline-block;
}

/* contact section*/
#contact {
    height: 400px;;
}

#contact ul {
    list-style: none;
}

#contact ul li {
    display: inline-block;
}



#contact ul .left{
    padding-left: 100px;
    
}

#contact ul .left, .right h4{
    font-size: 35px;
}

#contact ul .right {
    padding-left: 400px;
}





